.title {
  font-size: 20px;
}
.inRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
}
.Subtitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}